/* ---------------------------------------------------------
 HTML5 Bones
 This stylesheet contains print styling and a section for
 you to simply add your own. This is a basic template
 after all.
 ---------------------------------------------------------*/

body {
  font-family: 'Source Serif Pro', serif;
  background: #fff;
  color: #333333;
}


/* Default link styling */
a:link {
  color:#254CD1}
a:visited { color:#9C0CE8; }
a:hover, a:focus { color:#E74C3C; }
a:active { color:#B23921; }

/* ---------------------------------------------------------
    #HEADER SECTION
---------------------------------------------------------*/

header {
  background-color: #E74A3C;
  font-family: 'Work Sans', sans-serif;
  webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
         box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  margin-bottom: 6px;
}

.row {
  max-width: 980px;
  border-bottom: 1px solid #BF3E32;
  padding: .7em 1em .7em 1em;
  color: #fff;
  font-size: .95em;
  margin: 0 auto 0 auto;
}

.row h2{
  margin:0 0 -5px 0;
  padding: 0;
  font-weight: normal;
}

.row nav{
  float:right;
  margin-top:-1.1em;
}

.row a, .row a:hover, .row a:visited{
  color: #fff;
  text-decoration: none;
}

/* ---------------------------------------------------------
    #WRAPPER SECTION
---------------------------------------------------------*/

.wrap {
  position: relative;
  padding: 1em;
  margin: 0 auto .5em auto;
  background: #fff;
  max-width: 980px;
}

.main {

}

/* ---------------------------------------------------------
    #FOOTER SECTION
---------------------------------------------------------*/

footer {
  text-align: center;
  margin:1em;
  color: #686967;
}

/* ---------------------------------------------------------
   INDEX PAGE
---------------------------------------------------------*/

.note-box {
  margin: 1em 0em 1em 0em;
}

.post-list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  padding: .5em;
}

.post-list ul{
  padding: 0 0 0 1em;
  margin: 0;
}

.post-list li{
  line-height: 1em;
  margin-bottom: .33em;
}

.post-list li a{
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size:.85em;
}

.repo_link a{
  font-size:.75em;
  text-decoration:none;
}

.topic {
  font-family: 'Work Sans', sans-serif;
}

.subtopic{             
  border-bottom: 1px solid #eaeaea;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal !important;
}

.post-list-box {
  border:1px solid #D6D6D6;
  background: #F7F7F5;
  padding: 1em 1em 0em 1em;
  margin-bottom: 1em;
}

/* ---------------------------------------------------------
Print styles
---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
