/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 16px;
  background-color: #fff;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

a {
    color: #0046B7;
}

a:hover {
    color: #0056FF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 960px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.panel-body {
  -webkit-columns: 384px 1;
   -moz-columns: 384px 1;
        columns: 384px 1;
}

@media (min-width: 480px) {
  .panel-body {
    -webkit-columns: 384px 2;
     -moz-columns: 384px 2;
          columns: 384px 2;
  }
}

.navbar {
      background-color: #FFF;
      border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .navbar-header  {
      background: #ff3730;
  }
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #fff;
  background: #ff3730;
  margin-right: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 767px) {
  .navbar .navbar-brand, .navbar .navbar-brand:hover  {
      -webkit-clip-path: none;
      clip-path: none;
  }
}

.navbar-nav > li > a {
  color: #474740;
  font-size: 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  /* -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  font-style: italic; */
}

@media (max-width: 767px) {
  .navbar-nav > li > a  {
      -webkit-clip-path: none;
      clip-path: none;
  }
}

.navbar-nav > li > a:hover {
  background: #F7F7F7;
}

.nav .dropdown.open > a, .nav .dropdown.open > a:hover, .nav .dropdown.open > a:focus {
    background: #F7F7F7;
}


.dropdown-menu {
  border: none;
}

.navbar-toggle {
  background: #e0302c;
}

.footer {
  border-top: 1px solid #ddd;
  font-size: 15px;
}

.page-header {
    border-bottom: none;
    text-align: center;
    margin: 30px 0 0 0;
}

#content {
    margin-bottom: 3em;
}

.index-page-title {
    font-size: 33px;
    font-weight: 700;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.panel {
    border-radius: 0px;
}

pre {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 0px;
    font-size: 12px;
}

.panel {
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.dropdown-menu {
    border: 1px solid #eee;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px;
}

.dropdown {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}

.panel-body li a, .panel-body li{
    font-size: 15px;
  }

.body li {
    font-size: 1em;
}

.body li li{
    font-size: 1em;
}

h2.homepage_category_title {
    font-size: 20px;
    }

h3.panel-title {
  font-size: 17px;
  }

p {
  font-size: 16px;
  margin: 20px 0 20px 0;
}

header {
    margin-bottom: 2em;
}

header h1{
    }

header time {
    font-size: 15px;
    color: #666;
}


/* Header sizes
-------------------------------------------------- */

h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 22px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
  font-weight: bold;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: italic;
}

/* Bug reporting box
-------------------------------------------------- */

.bug-reporting__panel{
        padding: 1em;
    border: solid 1px #dddddd;
    margin-top: 3em;

}

.bug-reporting__panel h3{
    margin: 0 0 10px 0;
    font-size: 16px;
}

.bug-reporting__panel p{
    margin: 0;
    font-size: 14px;
}


.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 0px;
}

.navbar-right {
    margin-left: 20px;
}

@media (max-width: 480px) {
    .navbar-right {
        margin-left: 0;
    }

}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb > li {
    font-size: 15px;
    color: #666;
}

.panel-body ul {
    padding-left: 20px;
}

code {
    padding: 2px 4px;
    font-size: 15px;
    color: #696969;
    background-color: #F5F5F5;
    border-radius: 4px;
}


blockquote p {
    margin: 0;
    color: #696969;
    font-style: italic;
}
